

* {
    color: rgb(80, 79, 79);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 215, 215);
    width: 100%;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    overflow-x: hidden;
    padding: 10px;
    background-color: white;
    overflow: visible;
    transition: all 0.4s;

    ul {
        list-style: none;
        margin-bottom: 40px;

        li {
            display: flex;
            align-items: center;
            border-radius: 10px;
            margin-top: 8px;

            a {
                color: black;
                display: flex;
                gap: 15px;
                align-items: center;
                width: 100%;
                justify-content: left;
                padding: 7px 15px;
                border-radius: 10px;

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }

            a:link {
                text-decoration: none;
                
            }

            a:hover {
                background: blue;
                i, span {
                    color: white;
                }
            }
        }

    }
}

.side-bar i {
    font-size: 35px;
}

.logo-content {
    .logo {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 15px;
    }

    .bx-chevron-left {
        position: absolute;
        right: -16px;
        top: 24px;
        background-color: rgb(60, 26, 129);
        border-radius: 50%;
        padding: 4px;
        font-size: 23px;
        color: white;
        white-space: nowrap;
    }
}

.closed>div>.bx-chevron-left {
    transform: scaleX(-1);
}

.menu {
    height: 100%;
}

#main {
    margin-left: 250px;
    transition: all 0.4s;
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'side-right';
}

#main>* {
    padding: 1rem;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: #56abe4;

    .headerTop {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 18px;
        gap: 10px;

        .headerSearch {
            flex: 1;
            height: 25px;
            border-radius: 20px;
            min-width: 70px;
        }
    }

    .headerBottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto 18px;

        .bottomLeft {
            display: flex;
            flex-direction: row;
            gap: 10px;
            
            .profileIdentity {
                display: flex;
                flex-direction: column;

                span {
                    margin-bottom: 5px;
                }
            }
        }

        .bottomRight {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin: 10px 0;

            .headerButton {
                background-color: rgb(60, 26, 129);
                height: 40px;
                padding: 5px 16px;
                border-radius: 20px;
                border-width: 1px;
                color: white;
            }
        }
    }
}

img {
    width: 20px;
    height: 20px;
}


.articles {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;


    .card {
        padding: 20px;
        height: 150px;
        background-color: beige;
        width: 100%;
        min-width: none;
    }
}

.side-right {
    grid-area: side-right;
}

@media (min-width:900px) {
    #main {
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-areas:
        'header header header'
        'main main side-right';
    }
    .articles>.card {
        width: min(31%, 45%);
    }
}
